<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.goraebap.spring_progressive_demo.infra.mapper.CommentViewMapper">

    <select id="findByPostSlug" resultType="xyz.goraebap.spring_progressive_demo.infra.view_model.CommentViewModel">
        select c.id
             , c.nickname
             , c.comment
             , c.avatar_no as avatarNo
             , c.created_at as createdAt
        from comments c
        inner join posts p on p.id = c.post_id
        where p.slug = #{postSlug}
          and c.deleted_at is null
        order by c.created_at asc
    </select>

    <select id="countByPostSlug" resultType="int">
        select count(*)
        from comments c
        inner join posts p on p.id = c.post_id
        where p.slug = #{postSlug}
          and c.deleted_at is null
    </select>

    <select id="findPostIdBySlug" resultType="Long">
        select id
        from posts
        where slug = #{postSlug}
    </select>

</mapper>
