<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.goraebap.spring_progressive_demo.infra.mapper.CurationViewMapper">

    <select id="findItems" resultType="CurationViewModel">
        select id
             , title
             , link
             , snippet
             , pub_date as pubDate
             , source
        from curated_items
        <choose>
            <when test="sortBy == 'publishedAt'">
                order by pub_date ${sortDir}
            </when>
            <otherwise>
                order by pub_date desc
            </otherwise>
        </choose>
        limit #{limit} offset #{offset}
    </select>

    <select id="countItems" resultType="int">
        select count(*)
        from curated_items
    </select>

</mapper>
