<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.goraebap.spring_progressive_demo.infra.mapper.CurationViewMapper">

    <select id="findItems" resultType="CurationViewModel">
        SELECT id
        , title
        , link
        , snippet
        , pub_date AS pubDate
        , source
        FROM curated_items
        <choose>
            <when test="sortBy == 'publishedAt'">
                ORDER BY pub_date ${sortDir}
            </when>
            <otherwise>
                ORDER BY pub_date DESC
            </otherwise>
        </choose>
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="countItems" resultType="int">
        SELECT COUNT(*)
        FROM curated_items
    </select>

</mapper>
