<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.goraebap.blog.infra.mapper.PostViewMapper">

    <resultMap id="postViewModelResultMap" type="PostViewModel">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="slug" column="slug"/>
        <result property="summary" column="summary"/>
        <result property="content" column="content"/>
        <result property="viewCount" column="view_count"/>
        <result property="commentCount" column="comment_count"/>
        <result property="thumbnailKey" column="thumbnail_key"/>
        <result property="thumbnailMetadata" column="thumbnail_metadata"/>
        <result property="publishedAt" column="published_at"/>
        <collection property="tags" ofType="String">
            <result column="tag_name"/>
        </collection>
    </resultMap>

    <select id="findPosts" resultMap="postViewModelResultMap">
        select p.id
             , p.slug
             , p.title
             , p.summary
             , p.view_count
             , p.published_at
             , p.thumbnail_key
             , p.thumbnail_metadata
             , p.comment_count
             , t.name as tag_name
        from (
            select a.id
                 , a.slug
                 , a.title
                 , a.summary
                 , a.view_count
                 , a.published_at
                 , c.key as thumbnail_key
                 , c.metadata as thumbnail_metadata
                 , (select count(*) from comments where post_id = a.id and deleted_at is null) as comment_count
            from posts a
            left join attachments b on b.record_id = text(a.id)
                and b.record_type = 'post'
                and b.name = 'thumbnail'
            left join blobs c on c.id = b.blob_id
            where a.post_type = #{postType}
              and a.is_published_yn = 'Y'
              and not exists (
                  select 1
                  from series_posts sp
                  inner join series s on s.id = sp.series_id
                  where sp.post_id = a.id
                    and s.slug = 'game-series'
              )
            <choose>
                <when test="sortBy == 'viewCount'">
                    order by a.view_count ${sortDir}, a.published_at desc
                </when>
                <when test="sortBy == 'publishedAt'">
                    order by a.published_at ${sortDir}
                </when>
                <otherwise>
                    order by a.published_at desc
                </otherwise>
            </choose>
            limit #{limit} offset #{offset}
        ) p
        left join post_tags pt on pt.post_id = p.id
        left join tags t on t.id = pt.tag_id
        <choose>
            <when test="sortBy == 'viewCount'">
                order by p.view_count ${sortDir}, p.published_at desc
            </when>
            <when test="sortBy == 'publishedAt'">
                order by p.published_at ${sortDir}
            </when>
            <otherwise>
                order by p.published_at desc
            </otherwise>
        </choose>
    </select>

    <select id="countPosts" resultType="int">
        select count(*)
        from posts a
        where a.post_type = #{postType}
          and a.is_published_yn = 'Y'
          and not exists (
              select 1
              from series_posts sp
              inner join series s on s.id = sp.series_id
              where sp.post_id = a.id
                and s.slug = 'game-series'
          )
    </select>

    <select id="findPostBySlug" resultMap="postViewModelResultMap">
        select p.id
             , p.slug
             , p.title
             , p.summary
             , p.content
             , p.view_count
             , p.published_at
             , p.thumbnail_key
             , p.thumbnail_metadata
             , p.comment_count
             , t.name as tag_name
        from (
            select a.id
                 , a.slug
                 , a.title
                 , a.summary
                 , a.content
                 , a.view_count
                 , a.published_at
                 , c.key as thumbnail_key
                 , c.metadata as thumbnail_metadata
                 , (select count(*) from comments where post_id = a.id and deleted_at is null) as comment_count
            from posts a
            left join attachments b on b.record_id = text(a.id)
                and b.record_type = 'post'
                and b.name = 'thumbnail'
            left join blobs c on c.id = b.blob_id
            where a.slug = #{slug}
              and a.post_type = #{postType}
              and a.is_published_yn = 'Y'
        ) p
        left join post_tags pt on pt.post_id = p.id
        left join tags t on t.id = pt.tag_id
    </select>

    <select id="findLatestByPostType" resultType="PostViewModel">
        select a.id
             , a.slug
             , a.title
             , a.summary
             , a.view_count as viewCount
             , a.published_at as publishedAt
             , c.key as thumbnailKey
             , c.metadata as thumbnailMetadata
             , (select count(*) from comments where post_id = a.id and deleted_at is null) as commentCount
        from posts a
        left join attachments b on b.record_id = text(a.id)
            and b.record_type = 'post'
            and b.name = 'thumbnail'
        left join blobs c on c.id = b.blob_id
        where a.post_type = #{postType}
          and a.is_published_yn = 'Y'
        order by a.published_at desc
        limit 1
    </select>

    <!-- ADMIN -->
    <select id="countAdminPosts" resultType="int">
        select count(*)
        from posts p
        where 1 = 1
        <if test="postType != null and postType != ''">
          and p.post_type::text = #{postType}
        </if>
        <if test="isPublishedYn != null and isPublishedYn != ''">
          and p.is_published_yn::text = #{isPublishedYn}
        </if>
        <if test="title != null and title != ''">
          and p.title ilike '%' || #{title} || '%'
        </if>
    </select>

    <select id="findAdminPosts" resultType="AdminPostViewModel">
        with with_filtered_posts as (
            select p.id
            from posts p
            where 1 = 1
            <if test="postType != null and postType != ''">
              and p.post_type::text = #{postType}
            </if>
            <if test="isPublishedYn != null and isPublishedYn != ''">
              and p.is_published_yn::text = #{isPublishedYn}
            </if>
            <if test="title != null and title != ''">
              and p.title ilike '%' || #{title} || '%'
            </if>
            order by p.created_at desc
            limit #{limit} offset #{offset}
        ),
        with_tags as (
            select pt.post_id, string_agg(t.name, ',') as name_agg
            from tags t
            inner join post_tags pt on pt.tag_id = t.id
            where pt.post_id in (select id from with_filtered_posts)
            group by pt.post_id
        ),
        with_thumbnail as (
            select a.record_id, b.key, b.metadata
            from attachments a
            left join blobs b on b.id = a.blob_id
            where a.record_type = 'post'
              and a.name = 'thumbnail'
              and a.record_id in (select id::text from with_filtered_posts)
        )
        select p.id
             , thum.key as thumbnail_key
             , thum.metadata as thumbnail_metadata
             , p.title
             , p.summary
             , p.post_type
             , tag.name_agg as tags
             , p.is_published_yn
             , p.view_count
             , p.published_at
             , p.created_at
        from posts p
        inner join with_filtered_posts fp on fp.id = p.id
        left join with_tags tag on tag.post_id = p.id
        left join with_thumbnail thum on thum.record_id = p.id::text
        order by p.created_at desc
    </select>

    <select id="findAdminPostById" resultType="AdminPostViewModel">
        select p.id
             , p.slug
             , p.title
             , p.summary
             , p.content
             , p.post_type
             , p.is_published_yn
             , p.view_count
             , p.published_at
             , p.created_at
             , b.key as thumbnail_key
             , b.metadata as thumbnail_metadata
             , (select string_agg(t.name, ',')
                from tags t
                inner join post_tags pt on pt.tag_id = t.id
                where pt.post_id = p.id) as tags
        from posts p
        left join attachments a on a.record_id = p.id::text
            and a.record_type = 'post'
            and a.name = 'thumbnail'
        left join blobs b on b.id = a.blob_id
        where p.id = #{id}
    </select>

</mapper>
