<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.goraebap.spring_progressive_demo.app.todo.TodoQueryMapper">

    <select id="findWithCursor" resultType="Todo">
        select *
        from todos
        <where>
            <!-- 제목 검색 조건 (선택적) -->
            <if test="title != null and title != ''">
                and title like concat('%', #{title}, '%')
            </if>

            <!-- isCompleted 조건 (선택적) -->
            <if test="isCompleted != null">
                and is_completed = #{isCompleted}
            </if>

            <!-- Cursor 조건 (선택적) -->
            <if test="cursor != null">
                and created_at &lt; #{cursor}
            </if>
        </where>

        <!-- 정렬 조건 -->
        <choose>
            <when test="sortOrder != null and sortOrder == 'ASC'">
                order by created_at asc
            </when>
            <otherwise>
                order by created_at desc
            </otherwise>
        </choose>

        <!-- 페이지 크기 제한 -->
        <if test="perPage != null">
            limit #{perPage}
        </if>
    </select>

</mapper>
