<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<title>Home</title>
<main layout:fragment="content">
    <ul class="p-4 flex flex-col gap-10">
        <li th:each="post : ${posts}" class="flex flex-col gap-4 items-start">
            <h2 th:text="${post.title}" class="text-xl font-bold"></h2>
            <p th:text="${post.summary}" class="text-sm"></p>
            <button class="font-bold">Read more</button>
        </li>
    </ul>
</main>
</html>
